<mat-toolbar>
  <span><img src="./assets/logo.png" height="64"></span>
  <span class="example-fill-remaining-space"></span>
  <span>IVU.tipp-kick</span>
  <span class="example-fill-remaining-space"></span>


  <span *ngIf="activeSeason">Saison: {{activeSeason.name}}</span>
  <span *ngIf="!activeSeason">Keine aktive Saison</span>


</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-live-view></app-live-view>
