<h1>Das Reglement zur Tipp-Kick Saison:</h1>

<h3>Ligabetrieb</h3>
<p>Gespielt wird im Modus "Double Round Robin", d.h. jeder Spieler spielt gegen jeden 
  anderen Spieler 2 Mal (Hin- und Rückspiel). Bei 7 Spielern ergeben das 14 Spieltage, wobei 
  immer ein Spieler pro Spieltag spielfrei hat.</p>
<p>Ein gewonnenes Spiel wird mit 3 Punkten bewertet. Für ein Unentschieden gibt es noch 1 Punkt, 
  während man für eine Niederlage 0 Punkte bekommt. Die Punkte werden mitsamt der geschossenen 
  und kassierten Tore in einer Tabelle aufsummiert. Die Reihenfolge innerhalb der Tabelle wird nach 
  folgenden Kriterien bestimmt:</p>
<ul>
    <li>Erreichte Punkte</li>
    <li>Tordifferenz</li>
    <li>Anzahl erzielter Tore</li>
    <li>Anzahl gespielter Spiele</li>
</ul>

<h3>Pokal-Modus</h3>
<p>Gespielt wird im K.O.-System mit Hin- und Rückspiel ("Europapokalregelung"). Lediglich 
  im Finale wird nur ein einziges Spiel bestritten. Bei 7 Spielern ergibt sich ein Turnierbaum 
  ab Viertelfinale, wobei ein Spieler ein Freilos erhält und erst ab Halbfinale in den 
  Spielbetrieb einsteigt.</p>

<h3>Spielfeld</h3>
<p>Gespielt wird auf dem Spielfeld des E31 Infrastruktur Teams (Tipp-Kick Junior Cup).</p>

<h3>Spielfigur</h3>
<p>Gespielt wird mit einem Kicker und einem Torwart. Jeder Spieler ist dazu berechtigt, seine eigenen Spielfiguren mitzubringen und einzusetzen, sofern diese als Tipp-Kick Figuren deklariert sind und die üblichen Dimensionen aufweisen.
Es können auch die dem Spiel beiliegenden Figuren verwendet werden.</p>

<h3>Ball</h3>
<p>Gespielt wird mit einem Tipp-Kick-Ball in den Farben schwarz und weiß. Zu Spielbeginn 
  einigen sich die Spieler darauf, wer mit welcher Farbe spielt. Bei Uneinigkeit darf der Spieler, 
  der gemäß Spielplan das Heimrecht hat, entscheiden.</p>
<p>Der Ball wird durch das Betätigung des Knopfes über dem Kopf des Kickers und der damit 
  verursachten Bewegung des Schußbeines bewegt. Der Ball darf mit dem Kicker weder geschoben, 
  noch ohne Betätigung des Knopfes bewegt werden.</p>
<p>Es darf nur gespielt werden, wenn die eigene Farbe oben auf dem Ball zu sehen ist. Eine Ausnahme 
  zu dieser Regel bildet der Torwart, der den Ball bei jeder Farbe spielen darf.</p>

<h3>Spielzeit</h3>
<p>Gespielt wird 2 x 5 Minuten. In der Halbzeit müssen die Seiten gewechselt werden. 
  Benutzen beide Spieler die dem Spiel beiliegenden Spielfiguren, so tauschen die Spieler diese 
  jetzt, was effektiv dazu führt, dass die Spielfiguren auf ihren Seiten verbleiben.
Im Pokal-Modus kann es zu einer Verlängerung kommen, die mit weiteren 2 x 2 Minuten Spielzeit 
und einem Seitenwechsel abgebildet wird. Sollte auch danach noch kein Sieger feststehen, so 
gibt es ein Elfmeterschießen, bei dem die Spieler 5 Mal abwechselnd auf das jeweils gegnerische 
Tor schießen. Das Elfmeterschießen kann in den "Sudden Death"-Modus verlängert werden, bei dem 
immer jeweils ein weiterer Elfmeter pro Spieler ausgeführt wird, solange bis eine Entscheidung 
herbeigeführt wurde.<p>

<h3>Abwehr</h3>
<p>Der Kicker als abwehrende Spielfigur muss mind. 2 Kickerlängen Abstand zum Ball halten und darf dabei 
  niemals im eigenen Strafraum positioniert werden. Sollte sich der Ball in weniger als 2 Kickerlängen 
  Abstand zum eigenen Strafraum befinde, so darf der Kicker dennoch gesetzt werden, muss mit der Fußspitze 
  jedoch die Strafraumlinie berühren. Der Kicker als abwehrende Spielfigur darf nicht festgehalten oder 
  bewegt werden, während der angreifende Spieler den Ball spielt.<p>

<h3>Freistoß/Elfmeter</h3>
<p>Wenn der Kicker als abwehrende Spielfigur den Ball abwehrt, dabei jedoch bewegt oder festgehalten 
  wurde, so erhält die angreifende Mannschaft einen Freistoß bei dem 3 Kickerlängen Abstand zu 
  halten sind. Das gleiche gilt, falls der Spieler in Abwehrposition den Ball mit der Hand berührt. 
  Geschieht ein solcher Regelverstoß innerhalb des Strafraums, so gibt es einen Elfmeter für die 
  angreifende Mannschaft. Es gibt auch dann einen Elfmeter, wenn ein Kicker als abwehrende Spielfigur 
  den Ball im eigenen Strafraum abwehrt. Der Elfmeter wird vom Elfmeterpunkt aus ausgeführt und der 
  abwehrende Torwart muss auf der Torlinie bleiben.<p>

<h3>Torschuss</h3>
<p>Es dürfen von beinahe allen Positionen des Spielfeldes aus Tore erzielt werden. Die Ausnahmen 
  sind Anstoß (zu Beginn einer Halbzeit bzw. nach Torerfolg des Gegners), Abstoß und Einwurf. 
  Auch indirekte Tore, bei denen eine der gegnerischen Spielfiguren den Ball noch berührt, zählen 
  hier nicht. Ein Eckball hingegen darf sogar direkt verwandelt werden.<p>

<h3>Schiedsrichter</h3>
<p>Sofern möglich, ist eine dritte Person als Schiedsrichter dazu zu holen. Diese kann bei 
  strittigen Entscheidungen (z.B. Tor/kein Tor) entscheiden.<p>