<mat-nav-list>
  <a mat-list-item routerLink="main">
    <mat-icon matListIcon>home</mat-icon>Home
  </a>

  <a mat-list-item routerLink="table">
    <mat-icon matListIcon>view_list</mat-icon>Tabelle
  </a>

  <a mat-list-item routerLink="pokal">
    <mat-icon matListIcon>assignment</mat-icon>Pokal
  </a>

  <a mat-list-item routerLink="users">
    <mat-icon matListIcon>person</mat-icon>Spieler
  </a>

  <a mat-list-item routerLink="rules">
    <mat-icon matListIcon>assignment</mat-icon>Regeln
  </a>

  <a mat-list-item routerLink="matchmaking">
      <mat-icon matListIcon>settings</mat-icon>Spielplanung
    </a>
</mat-nav-list>
