<mat-card class="live-view mat-elevation-z24" *ngIf="player1 && player2" [@changeState]="isOpen ? 'shown' : 'hidden'">
  <mat-card-content>
    <div class="live-view-flex">
      <div class="live-view-flex-item">
          <img src="{{apiUrl}}api/v1/users/{{player1._id}}/image" height="64" width="64">
          <h3>{{player1.name}}</h3>
        </div>
        <div class="live-view-flex-item">
          <h1 class="scoreboard">2:5</h1>
          <h3>Spielstand</h3>
        </div>
        <div class="live-view-flex-item">
          <img src="{{apiUrl}}api/v1/users/{{player2._id}}/image" height="64" width="64">
          <h3>{{player2.name}}</h3>
        </div>
      </div>
  </mat-card-content>
</mat-card>


